.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap: 2rem;
    padding: 50px;
}

.n-name{
    font-size:1.3rem;
    font-weight: bold;
}

.n-right{
    font-size:1.3rem;
    display:flex;
    flex:0.5;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
}
.n-list>ul>li:hover{
    cursor: pointer;
    color:var(--orange);
}

